@font-face {
  font-family: nasalization;
  src: url(/fonts/nasalization-free/nasalization-rg.otf);
}

body {
   background-color: white;
   color: #c0c0c0;
   font-family: nasalization;
   font-size: 40pt;
   margin: 0px;
   text-align: center;
}

.top {
   background-color: white;
   padding-top: 0.5em;
}