body {
   color: var(--onedevs-color-blue);
   font-family: roboto-condensed;
   margin: 0;
}

table {
   font-family: roboto-condensed;
}

a {
   color: var(--onedevs-color-green);
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

.paragraphs p {
   font-family: roboto-condensed;
   text-align: center;
}

.paragraphs ul {
   font-family: roboto-condensed;
   list-style-type: none;
   text-align: center;
}

.paragraphs ul ul li {
   font-size: 0.7em;
}

.paragraphs ul li.section {
   font-size: 0.7em;
   margin: 30px 0 10px 0;
   text-decoration: underline;
}

/*
 * desktop
 */

@media screen and (min-width: 769px) {

   .paragraphs {
      border-left: solid 10px var(--onedevs-background-color-lightblue);
      border-right: solid 10px var(--onedevs-background-color-lightblue);
      border-top: solid 1px var(--onedevs-background-color-lightblue);
      margin: 0 50px 100px 50px;
      padding-top: 30px;
   }

   .paragraphs .title {
      background-color: var(--onedevs-background-color-lightlightblue);
      color: var(--onedevs-color-darkblue);
      font-family: raleway;
      font-size: 50pt;
      font-weight: bold;
      margin: -30px 0 30px 0;
      padding: 50px;
      text-align: center;
   }

   .paragraphs p, .paragraphs ul {
      margin: 0;
      padding: 0;
      font-size: 33pt;
   }

}

/*
 * mobile
 */

@media screen and (max-width: 768px) {

   .paragraphs {
      border-left: solid 4px var(--onedevs-background-color-lightblue);
      border-right: solid 4px var(--onedevs-background-color-lightblue);
      border-top: solid 4px var(--onedevs-background-color-lightblue);
      margin: 0 10px 33px 10px;
      padding-top: 20px;
   }

   .paragraphs .title {
      background-color: var(--onedevs-background-color-lightlightblue);
      color: var(--onedevs-color-darkblue);
      font-family: raleway;
      font-size: 25pt;
      font-weight: bold;
      margin: -20px 0 20px 0;
      padding: 15px;
      text-align: center;
   }

   .paragraphs p, .paragraphs ul {
      margin: 0;
      padding: 0;
      font-size: 23pt;
   }

}
