@font-face {
   font-family: montserrat;
   src: url("Montserrat-Regular.ttf");
}

body {
   margin: 20px;
   font-family: montserrat;
}

td {
   vertical-align: top;
}

a {
   text-decoration: none;
   color: inherit;
   font-weight: bold;
}

.first {
   padding: 20px;
}

.second {
   padding: 20px;
   background-color: #1d97d4;
   border-radius: 5px;
   color: white;
}

@media screen and (min-width: 1000px) {

   .first {
      float: left;
      width: 45%;
   }

   .second {
      float: right;
      width: 45%;
   }

}

img.photo {
   width: 200px;
   border-radius: 200px;
   border: solid 3px white;
   float: right;
   margin: 20px;
}

@media screen and (max-width: 999px) {

   .section.photo {
      text-align: center;
   }

   img.photo {
      float: none;
   }

   .section.name {
      text-align: center;
   }

}

.name {
   color: gray;   
}

.experience {
   margin: 10px;
   background-color: #e4f8ff;
   padding: 10px;
   border-radius: 5px;
}

.experience.current {
   background-color: #1d97d4;
   color: white;
}

.position {
   width: 50%;
   margin: 0;
   margin-bottom: 10px;
   border-bottom: solid 1px black;
   font-weight: bold;
   text-transform: uppercase;
}

.position.current {
   border-bottom: solid 1px white;
}

a.technology {
   margin-right: 20px;
}
