body {
   margin: 20px;
   font-family: sans-serif;
}

.first {
   width: 45%;
   float: left;
   padding: 20px;
   border-radius: 5px;
   background-color: #1d97d4;
}

.first .section {
   color: white;
}

.second {
   width: 45%;
   float: right;
   padding: 20px;
}

img.photo {
   width: 200px;
   border-radius: 200px;
   border: solid 3px white;
}

.name {
   color: gray;   
}

.experience {
   margin: 10px;
   background-color: #e4f8ff;
   padding: 10px;
   border-radius: 5px;
}

.experience.current {
   background-color: #1d97d4;
   color: white;
}

a {
   text-decoration: none;
   color: inherit;
}

.position {
   margin: 0;
   margin-bottom: 10px;
   border-bottom: solid 1px black;
   font-weight: bold;
}

.position.current {
   border-bottom: solid 1px white;
}

