body {
   background-color: #202020;
   color: yellow;
   margin: 0;
   padding: 0;
   font-family: sans-serif;
}

table.layout {
   background-color: black;
   width: 315px;
   height: 100vh;
   margin: 0 auto;
   border-right: dashed 5px white;
   border-left: dashed 5px white;
}

.layout .margin {
   height: 33%;
}

div {
   text-align: center;
   color: yellow;
   display: block;
}

.unselectable {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

span.talleres {
   font-family: sans-serif;
   font-weight: bold;
   font-style: italic;
   font-size: 40px;
}

span.cebrero {
   font-family: sans-serif;
   font-weight: bold;
   font-size: 50px;
}

.btn-grad {
   background-image: linear-gradient(to right, #16a085 0%, #f4d03f 51%, #16a085 100%);
   margin: 0 auto;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   background-size: 200% auto;
   color: #006000;
   border-radius: 30px;
   font-weight: bold;
   width: 150px;
   transition: 0.7s;
   cursor: pointer;
}

.btn-grad-hover {
   background-image: linear-gradient(to right, #16a085 0%, #f4d03f 51%, #16a085 100%);
   margin: 0 auto;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   background-size: 200% auto;
   color: #006000;
   border-radius: 30px;
   font-weight: bold;
   width: 150px;
   transition: 0.7s;
   cursor: pointer;

   background-position: right center;
   cursor: pointer;
   color: yellow;
}

table.calendar {
   width: 280px;
   margin: 0 auto;
}

.calendar .month {
   background-color: #16a085;
   font-weight: bold;
   padding: 5px;
}

.calendar .weekday {
   background-color: #16a085;
   font-weight: bold;
   padding: 5px;
   border-bottom: solid 1px #16a085;
}

.calendar .weekenddayname {
   background-color: #068065;
   font-weight: bold;
   padding: 5px;
   color: black;
   border-bottom: solid 1px black;
}

.calendar .weekendday {
   background-color: #068065;
   font-weight: bold;
   padding: 5px;
   color: black;
   font-size: 14px;
}

.calendar .activeday {
   background-color: #36c0b5;
   font-weight: bold;
   padding: 5px;
   font-size: 14px;
   color: white;
}

.calendar .activeday a {
   color: white;
   text-decoration: none;
}

.calendar .vacations {
   background-color: #068065;
   font-weight: bold;
   padding: 5px;
   color: black;
   font-size: 14px;
}

.calendar .pastday {
   background-color: #068065;
   font-weight: bold;
   padding: 5px;
   color: black;
   font-size: 14px;
}

.instructions {
   color: white;
   margin: 20px;
}

.calendar .input {
   width: 250px;
   height: 20px;
   font-size: 14px;
   border: none;
   border-radius: 5px;
   padding: 4px;
}

.meeting {
   font-size: 14px;
}

.btn-assign {
   background-color: yellow;
   margin: 20px auto 20px auto;
   padding: 15px;
   text-align: center;
   text-transform: uppercase;
   color: black;
   border-radius: 30px;
   border: none;
   font-weight: bold;
   width: 150px;
   cursor: pointer;
}
