body {
   color: var(--onedevs-color-blue);
   font-family: nasalization;
   font-size: 37pt;
   text-align: center;
}

/* desktop */

@media screen and (min-width: 769px) {

   ._404 {
      margin: 150px auto 0 auto;
   }

}

/* mobile */

@media screen and (max-width: 768px) {

   ._404 {
      margin: 50px auto 0 auto;
   }

}
