
/* desktop */

@media screen and (min-width: 769px) {

   .mobile {
      display: none;
   }

   .desktop .paragraphs-address p {
      font-size: 1.2em;
      text-align: center;
   }

}

/* mobile */

@media screen and (max-width: 768px) {

   .desktop {
      display: none;
   }

   .mobile .paragraphs-address p {
      text-align: center;
   }

}
