.brand {
  background-color: var(--onedevs-background-color-darkblue);
  color: var(--onedevs-color-white);
  font-family: nasalization;
  padding: 53px 0 53px 0;
  text-align: center;
}

.brand .company-name {
  font-size: 33pt;
}

.brand .company-motto {
  font-size: 12pt;
}
