@font-face {
   font-family: nasalization;
   src: url("/fonts/nasalization-free/nasalization-rg.otf");
}

@font-face {
   font-family: roboto-condensed;
   src: url("/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf");
}
