@font-face {
  font-family: cronus-round;
  src: url(/fonts/cronus-round/cronus.round.otf);
}

@font-face {
  font-family: futuristic-armour;
  src: url(/fonts/futuristic_armour/Futuristic-Armour.otf);
}

@font-face {
  font-family: hey-comic;
  src: url(/fonts/hey_comic/Hey-Comic.otf);
}

@font-face {
   font-family: nasalization;
   src: url(/fonts/nasalization-free/nasalization-rg.otf);
}
