.home-section {
   font-family: jmh-typewriter-dry;
   text-align: center;
}

.home-section .title {
   color: var(--onedevs-color-blue);
   border: solid 3px var(--onedevs-color-blue);
   border-bottom: 0;
   padding: 23px;
   font-size: 25pt;
}

.home-section .content {
   color: var(--onedevs-color-gray);
   max-width: 500px;
   margin: 33px auto 33px auto;
   line-height: 1.7em;
}

a.link {
   text-decoration: none;
   color: var(--onedevs-color-blue);
}

a.link:hover {
   background-color: yellow;
}

/* mobile  */

@media screen and (max-width: 768px) {

   .home-section .desktop {
      display: none;
   }

}

/* desktop  */

@media screen and (min-width: 769px) {

   .home-section .mobile {
      display: none;
   }

}

.home-section .mobile .image, .home-section .desktop .image {
   border-radius: 7px;
}
