body {
   color: var(--onedevs-color-blue);
   font-family: roboto-condensed;
   margin: 0;
}

table {
   font-family: roboto-condensed;
}

a {
   color: var(--onedevs-background-color-blue);
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

.paragraphs p {
   font-family: roboto-condensed;
   text-align: center;
}

.paragraphs ul {
   font-family: roboto-condensed;
   list-style-type: none;
   text-align: center;
}


/* desktop */

@media screen and (min-width: 769px) {
   .paragraphs {
      border-left: solid 10px var(--onedevs-background-color-lightblue);
      border-right: solid 10px var(--onedevs-background-color-lightblue);
      border-top: solid 1px var(--onedevs-background-color-lightblue);
      margin: 0 50px 0 50px;
   }
   .paragraphs p, .paragraphs ul {
      font-size: 33pt;
      padding: 100px;
   }
}

/* mobile */

@media screen and (max-width: 768px) {
   .paragraphs {
      border-left: solid 4px var(--onedevs-background-color-lightblue);
      border-right: solid 4px var(--onedevs-background-color-lightblue);
      border-top: solid 1px var(--onedevs-background-color-lightblue);
      margin: 0 10px 0 10px;
   }
   .paragraphs p, .paragraphs ul {
      font-size: 15pt;
      padding: 23px;
   }
}
