.onedevs-main-menu .item:hover a {
  color: white;
}

/* mobile  */

@media screen and (max-width: 768px) {

   .home-section .member.desktop {
      display: none;
   }

   .home-section .member.mobile .description {
      margin-top: 25px;
      text-shadow: 1px 1px 4px white;
   }

   .home-section .member.mobile img.member {
      border-radius: 100px;
   }

   .home-section .member.mobile .quote {
      font-style: italic;
      color: white;
      max-width: 250px;
      text-align: center;
      margin: 0 auto 0 auto;
      text-shadow: 1px 1px 4px black;
   }

}

/* desktop */

@media screen and (min-width: 769px) {

   .home-section .member.mobile {
      display: none;
   }

   .home-section .member.desktop img.member {
      border-radius: 100px;
   }

   .home-section .member.desktop td.description {
      text-align: left;
      text-shadow: 1px 1px 4px white;
   }

   .home-section .member.desktop .quote {
      text-align: left;
      font-style: italic;
      color: white;
      max-width: 550px;
      text-shadow: 1px 1px 4px black;
   }

}
