#que-hacemos {
}

.home-section .services span {
   display: block;
   width: 300px;
   line-height: 50px;
   margin: 0 auto 0 auto;
   border-radius: 25px;
   border: solid 2px white;
}

.home-section .services .site-building {
   background-color: var(--onedevs-color-blue);
   color: white;
}

.home-section .services .site-maintenance {
   background-color: #804080;
   color: white;
}

.home-section .services .devops {
   background-color: #008000;
   color: white;
}

.home-section .services .cybersecurity {
   background-color: black;
   color: white;
}

.home-section .services .contribution {
   background-color: pink;
   color: black;
}

.home-section .content.marketing {
   background-color: rgba(128, 128, 128, 0.8);
   border-radius: 7px;
}

.home-section .plus {
   color: white;
   font-size: 100pt;
   font-weight: bold;
   text-align: center;
}