.home-section table.projects {
  color: white;
  text-shadow: 1px 1px 4px black;
}

.home-section table.projects thead tr th {
  color: white;
  background-color: rgb(29, 151, 212, 0.5);
  border-radius: 3px;
}

.home-section table.projects tbody tr td {
  color: rgb(29, 151, 212);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  text-shadow: none;
}

.home-section .mobile .client {
  color: white;
  text-shadow: 1px 1px 4px black;
}
