.onedevs-main-menu {
  text-align: center;
  font-family: nasalization;
  font-size: 22pt;
}

.onedevs-main-menu a {
  text-decoration: none;
  line-height: 33pt;
  color: var(--onedevs-color-blue);
  display: block;
}

.onedevs-main-menu .item:hover {
  background-color: var(--onedevs-color-blue);
}

.onedevs-main-menu .item:hover a {
  color: white;
}
