/* mobile */
@media screen and (max-width: 768px) {
  .onedevs-main-menu {
    font-family: nasalization;
    font-size: 13pt;
    margin: 0 auto 0 auto;
    width: 300px;
    color: white;
    text-shadow: 1px 1px 4px black;
  }
}

/* desktop */
@media screen and (min-width: 769px) {
  .onedevs-main-menu {
    font-family: nasalization;
    font-size: 17pt;
    margin: 0 auto 0 auto;
    width: 400px;
    color: white;
    text-shadow: 1px 1px 4px black;
  }
}

.onedevs-main-menu .item {
  background-color: rgba(29, 151, 212, 0.444);
  text-align: center;
}

.onedevs-main-menu .item .left-llave {
  float: left;
}

.onedevs-main-menu .item .right-llave {
  float: right;
}

.onedevs-main-menu .item a {
  text-decoration: none;
  line-height: 22pt;
  color: white;
}

.onedevs-main-menu .item:hover {
  background-color: var(--onedevs-color-blue);
  border-radius: 5px;
}

.onedevs-main-menu .item:hover a {
  color: white;
}
