body {
   background-color: gray;
   color: yellow;
   margin: 0;
   padding: 0;
   font-family: sans-serif;
}

main {
   background-color: black;
   width: 345px;
   margin: 0 auto;
   border-right: dashed 5px white;
   border-left: dashed 5px white;
}

div {
   text-align: center;
   color: yellow;
}

span.talleres {
   font-family: sans-serif;
   font-weight: bold;
   font-style: italic;
   font-size: 40px;
}

span.cebrero {
   font-family: sans-serif;
   font-weight: bold;
   font-size: 50px;
}

div.cita {
   color: white;
   font-weight: bold;
}