

/*
 * desktop
 */

@media screen and (min-width: 769px) {

   .desktop .paragraphs-address p {
      font-size: 1.2em;
      text-align: center;
   }

}


/*
 * mobile
 */

@media screen and (max-width: 768px) {

   .mobile .paragraphs-address p {
      text-align: center;
   }

}
