

/*
 * desktop
 */

@media screen and (min-width: 769px) {

   .cookie-consent {
      background-color: var(--onedevs-background-color-lightblue);
      border-radius: 10px;
      bottom: 0;
      box-shadow: 0px 0px 10px var(--onedevs-color-gray);
      font-family: roboto-condensed;
      font-size: 20pt;
      height: 550px;
      left: 0;
      margin: auto;
      position: fixed;
      right: 0;
      text-align: center;
      top: 0;
      width: 800px;
   }

   .cookie-consent .title {
      background-color: var(--onedevs-background-color-blue);
      border-radius: 10px 10px 0 0;
      color: var(--onedevs-background-color-white);
      font-weight: bold;
      padding: 30px;
   }

   .cookie-consent .content {
      color: var(--onedevs-color-black);
      margin: 50px;   
   }

}


/*
 * mobile
 */

@media screen and (max-width: 768px) {

   .cookie-consent {
      background-color: var(--onedevs-background-color-lightblue);
      bottom: 0;
      font-family: roboto-condensed;
      font-size: 20pt;
      left: 0;
      margin: auto;
      position: fixed;
      right: 0;
      text-align: center;
      width: 100%
   }

   .cookie-consent .title {
      background-color: var(--onedevs-background-color-blue);
      color: var(--onedevs-background-color-white);
      font-weight: bold;
      padding: 30px;
   }

   .cookie-consent .content {
      color: var(--onedevs-color-black);
      padding: 10px 30px 50px 30px;
   }

}
